@using System.Globalization
@model List<ToDoList>

<h1>Trello To-Do List</h1>

<p>
    The To-Do List is fully synchronsied with Trello through the API. Users can add, edit and delete cards in the board using the To-Do List tool.

    <div class="alert alert-info">click the <b>Card Name</b> to be redirected to the respective card on Trello's website!</div>

    @foreach (var item in (Model))
    {
        if (item.ErrorMessage != null)
        {
            <div class="alert alert-warning" role="alert">
                @item.ErrorMessage
            </div>
        }
        if (item.SuccessMessage != null)
        {
            <div class="alert alert-success" role="alert">
                @item.SuccessMessage
            </div>
        }
    }

<p>
    <a asp-action="Add" class="btn btn-primary">Add a Task</a>
</p>

<div class="card card-margin">
    <table class="table table-hover">
        <thead class="thead-light">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.First().Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().DueDate)
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                var dueDate = @item.DueDate.ToString("MM/dd/yyyy hh:mm");

            <tr>
                <td>
                    <a href="@item.Url" target="_blank">@Html.DisplayFor(modelItem => item.Name)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @dueDate
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary action-btn">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger action-btn">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>